@{
    

    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}
        <!-- Header -->
        <div class="header bg-primary pb-6" style="overflow-x:auto; background-color: #e0d8d8">
           

    <div class="alert alert-dark mt-5" role="alert">
        <center>
            -- School Management System --
        </center>
    </div>
    <div class="alert alert-dark mt-5" role="alert">
        <center>
            When educating the minds of our youth, we must not forget to educate their hearts.
        </center>
    </div>
    <div class="alert alert-dark mt-5" role="alert">
        <center>
            Don’t stress. Do your best. Forget the rest.
        </center>
    </div>
    <div class="alert alert-dark mt-5" role="alert">
        <center>
            From classess First to Fifth!
        </center>
    </div>

</div>
        <!-- Footer -->
        

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="../assets/js/argon.js?v=1.2.0"></script>
